:root {
  --max-width: 740px;
  --color-text: rgb(237, 223, 223);
  --color-text-softened: rgb(186, 176, 176);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-size: 18px;
  line-height: 1.45;
  letter-spacing: 0.005rem;
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  overflow-y: scroll;
}

@media only screen and (min-width: 1200px) {
  body {
    margin-right: 300px;
  }
}

@media only screen and (max-width: 800px) {
html,
  body {
    font-size: 17px;
  }
}

@media only screen and (max-width: 600px) {

  html,
  body {
    font-size: 15px;
  }
}

body {
  color: rgb(237, 223, 223);
  background: #323232;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1rem;
}

iframe {
  margin: 1rem 0;
}