.main {
  max-width: var(--max-width);
  margin: 1rem auto;
  padding: 2rem;
}

.main a {
  text-decoration: underline;
  text-decoration-thickness: from-font;
}

.main a:hover {
  text-decoration: none;
}

.header {
  font-size: 1.2rem;
  margin-bottom: 3rem;
}

.contact {
  margin-top: 3rem;
}

.section {
  margin-bottom: 1.5rem;
}

.section p {
  color: var(--color-text-softened);
}

.section.sectionActive p {
  color: inherit;
}

.section:not(.sectionActive):hover {
  cursor: pointer;
}

.section:not(.sectionActive):hover p {
  color: inherit;
}

.sectionReadmore {
  margin-top: .25rem;
}

.section:hover .sectionReadmore {
  text-decoration: underline;
  text-decoration-thickness: from-font;
}

.sectionTeaser {

}

.sectionContent p {
  margin-bottom: 1rem;
}