.main {
  max-width: var(--max-width);
  margin: 1rem auto;
  padding: 2rem;
}

.main a {
  text-decoration: underline;
}

.main a:hover {
  text-decoration: none;
}

.header {
  margin-bottom: 3rem;
}

.content p {
  margin-bottom: 1rem;
}

.contact {
  margin-top: 3rem;
}

.sectionTeaser {

}

.sectionContent {

}