.main {
  max-width: var(--max-width);
  margin: 1rem auto;
  padding: 2rem;
}

.main a {
  text-decoration: underline;
  text-decoration-thickness: from-font;
}

.main a:hover {
  text-decoration: none;
}

.header {
  font-size: 1.2rem;
  margin-bottom: 5rem;
}

.contact {
  margin-top: 5rem;
}

.section {
  margin-bottom: 1rem;
}

.section:not(.sectionActive):hover {
  cursor: pointer;
}

.section:hover .sectionReadmore {
  text-decoration: underline;
  text-decoration-thickness: from-font;
}

.sectionTeaser {

}

.sectionContent p {
  margin-bottom: 1rem;
}