
.imagesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 3rem;
}

.imagesTile {
  width: auto;
  height: 125px;
  max-width: 100%;
  position: relative;
  border: 2px solid transparent;
}

.imagesTile.imagesTileActive {
  width: 500px;
  height: auto;
}

.imagesTile.imagesTileActive img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.imagesTile:hover {
  border: 2px solid var(--color-text-softened);
  cursor: pointer;
}

.imagesTile img {
  height: 100%;
  width: auto;
  object-fit: cover;
}